In [6]:
import pdfplumber
import pandas as pd

ruta_pdf = "../data/350_Revista CIFRAS Digital Mayo 2025 - Costos x rubro.xls - CostosUnitarios.pdf"

lineas_extraidas = []

with pdfplumber.open(ruta_pdf) as pdf:
    for i, pagina in enumerate(pdf.pages):
        texto = pagina.extract_text()
        if texto:
            print(f"Página {i+1} ✅ OK")
            for linea in texto.split("\n"):
                lineas_extraidas.append({"pagina": i+1, "texto": linea.strip()})
        else:
            print(f"Página {i+1} ❌ VACÍA")

# Crear DataFrame
df_lineas = pd.DataFrame(lineas_extraidas)

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

Página 1 ✅ OK
Página 2 ✅ OK
Página 3 ✅ OK
Página 4 ✅ OK
Página 5 ✅ OK
Página 6 ✅ OK
Página 7 ✅ OK
Página 8 ✅ OK

CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox
CropBox missing from /Page, defaulting to MediaBox

Página 9 ✅ OK

In [7]:
df_numericas = df_lineas[df_lineas["texto"].str.contains(r"^\d", regex=True)]

df_numericas

     pagina                                              texto
11        1                        00 HONORARIOS PROFESIONALES
16        1  00.01 Tareas de Proyecto / Dirección o Conducc...
17        1                            01 PRELIMINARES DE OBRA
19        1  01.01 Cartel de Obra m2 $ 45.523,88 $ 42.645,3...
20        1  01.02 Cerco de Obra m $ 23.616,17 $ 15.671,02 ...
..      ...                                                ...
323       9                                          20 VARIOS
324       9  20.01 Ayuda de gremio m2 $ 0,00 $ 5.186,11 $ 5...
325       9  20.02 Conductos ventilación, incl. sombrerete ...
326       9  20.03 Limpieza periódica y final de obra de ob...
327       9  20.04 Parquización (cesped) m2 $ 4.911,67 $ 5....

[270 rows x 2 columns]

In [8]:
import re
import pandas as pd

# Partimos de df_numericas (con las líneas que comienzan con número)
materiales = []
rubro_actual = None

for _, fila in df_numericas.iterrows():
    texto = fila["texto"].strip()

    # Detectar rubros: líneas como "03 ESTRUCTURAS"
    if re.match(r"^\d{2}\s+.+", texto):
        rubro_actual = texto
        continue

    # Detectar líneas de materiales: "03.01 Descripción unidad $ x $ y $ z"
    match = re.match(
        r"^(\d{2}\.\d{2})\s+(.*?)\s+([^\s]+)\s+\$?\s*([\d.,]+)\s+\$?\s*([\d.,]+)\s+\$?\s*([\d.,]+)",
        texto
    )
    if match:
        codigo, descripcion, unidad, mat, ejec, total = match.groups()
        try:
            materiales.append({
                "codigo": codigo,
                "descripcion": descripcion.strip(),
                "unidad": unidad.strip(),
                "costo_material": float(mat.replace(".", "").replace(",", ".")),
                "costo_ejecucion": float(ejec.replace(".", "").replace(",", ".")),
                "costo_total": float(total.replace(".", "").replace(",", ".")),
                "rubro": rubro_actual
            })
        except:
            continue

df_materiales = pd.DataFrame(materiales)

In [9]:
df_materiales

,codigo,descripcion,unidad,costo_material,costo_ejecucion,costo_total,rubro
0,01.01,Cartel de Obra,m2,45523.88,42645.32,88169.20,01 PRELIMINARES DE OBRA
1,01.02,Cerco de Obra,m,23616.17,15671.02,39287.19,01 PRELIMINARES DE OBRA
2,01.03,Limpieza inicial terreno; retiros grales.,m2,379.70,3165.42,3545.12,01 PRELIMINARES DE OBRA
3,01.04,Nivelación y replanteo de obra,m2,113.91,6646.79,6760.70,01 PRELIMINARES DE OBRA
4,01.05,"Obrador, construcciones provisorias",m2,37419.54,111193.39,148612.92,01 PRELIMINARES DE OBRA
...,...,...,...,...,...,...,...
231,19.06,Matafuegos ABC 5kg,u,129552.51,15581.53,145134.04,19 EQUIPAMIENTO
232,20.01,Ayuda de gremio,m2,0.00,5186.11,5186.11,20 VARIOS
233,20.02,"Conductos ventilación, incl. sombrerete y reja",m,25380.44,93258.87,118639.31,20 VARIOS
234,20.03,Limpieza periódica y final de obra de obra,m2,2475.55,10131.70,12607.26,20 VARIOS
235,20.04,Parquización (cesped),m2,4911.67,5983.24,10894.90,20 VARIOS

In [12]:
import sys
import os

# Suponiendo que el notebook está en /CRRLN/notebooks/
sys.path.append(os.path.abspath(".."))

from backend.db import engine
from backend.models.material import Material
from backend.models.rubro import Rubro
from sqlmodel import Session, select
from datetime import date
import re

# Asegurate de que df_materiales exista y tenga columna "rubro"
rubro_cache = {}

with Session(engine) as session:
    for _, fila in df_materiales.iterrows():
        rubro_texto = fila["rubro"].strip()

        # Extraer código y nombre de rubro
        match = re.match(r"^(\d{2})\s+(.+)", rubro_texto)
        if not match:
            print(f"⚠️ Rubro mal formateado: {rubro_texto}")
            continue

        codigo_rubro, nombre_rubro = match.groups()

        # Buscar o crear rubro
        if rubro_texto not in rubro_cache:
            rubro = session.exec(select(Rubro).where(Rubro.codigo == codigo_rubro)).first()
            if not rubro:
                rubro = Rubro(nombre=nombre_rubro, codigo=codigo_rubro)
                session.add(rubro)
                session.commit()
                session.refresh(rubro)
            rubro_cache[rubro_texto] = rubro.id

        # Crear objeto Material
        material = Material(
            codigo=fila["codigo"],
            descripcion=fila["descripcion"],
            unidad=fila["unidad"],
            costo_material=fila["costo_material"],
            costo_ejecucion=fila["costo_ejecucion"],
            costo_total=fila["costo_total"],
            rubro_id=rubro_cache[rubro_texto],
            fuente="Revista Cifras - Mayo 2025",
            fecha=date(2025, 5, 1)
        )
        session.add(material)

    session.commit()
    print("✅ Todos los materiales fueron insertados.")

2025-05-12 23:47:36,017 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 23:47:36,018 INFO sqlalchemy.engine.Engine SELECT rubro.id, rubro.nombre, rubro.codigo
FROM rubro
WHERE rubro.codigo = ?
2025-05-12 23:47:36,019 INFO sqlalchemy.engine.Engine [cached since 125s ago] ('01',)
2025-05-12 23:47:36,025 INFO sqlalchemy.engine.Engine INSERT INTO rubro (nombre, codigo) VALUES (?, ?)
2025-05-12 23:47:36,027 INFO sqlalchemy.engine.Engine [generated in 0.00162s] ('PRELIMINARES DE OBRA', '01')
2025-05-12 23:47:36,041 INFO sqlalchemy.engine.Engine COMMIT
2025-05-12 23:47:36,054 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 23:47:36,059 INFO sqlalchemy.engine.Engine SELECT rubro.id, rubro.nombre, rubro.codigo
FROM rubro
WHERE rubro.id = ?
2025-05-12 23:47:36,061 INFO sqlalchemy.engine.Engine [generated in 0.00215s] (1,)
2025-05-12 23:47:36,077 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,079 INFO sqlalchemy.engine.Engine [generated in 0.00081s (insertmanyvalues) 1/12 (ordered; batch not supported)] ('01.01', 'Cartel de Obra', 'm2', 45523.88, 42645.32, 88169.2, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,084 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,086 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/12 (ordered; batch not supported)] ('01.02', 'Cerco de Obra', 'm', 23616.17, 15671.02, 39287.19, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,088 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,090 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/12 (ordered; batch not supported)] ('01.03', 'Limpieza inicial terreno; retiros grales.', 'm2', 379.7, 3165.42, 3545.12, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,092 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,094 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/12 (ordered; batch not supported)] ('01.04', 'Nivelación y replanteo de obra', 'm2', 113.91, 6646.79, 6760.7, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,095 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,098 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/12 (ordered; batch not supported)] ('01.05', 'Obrador, construcciones provisorias', 'm2', 37419.54, 111193.39, 148612.92, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,102 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,104 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/12 (ordered; batch not supported)] ('01.06', 'Contenedor, volquete 5m3 (alquiler)', 'día', 0.0, 78704.44, 78704.44, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,106 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,108 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/12 (ordered; batch not supported)] ('01.07', 'Demolición de contrapisos y otros solados', 'm2', 0.0, 12307.11, 12307.11, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,110 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,112 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/12 (ordered; batch not supported)] ('01.08', 'Demolición estructuras de hormigón armado', 'm3', 0.0, 207625.44, 207625.44, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,114 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,115 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/12 (ordered; batch not supported)] ('01.09', 'Demolición mamposterías ladrillos comunes', 'm3', 0.0, 87635.44, 87635.44, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,118 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,120 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/12 (ordered; batch not supported)] ('01.10', 'Demolición mamposterías ladrillos huecos', 'm2', 0.0, 15113.26, 15113.26, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,123 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,127 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/12 (ordered; batch not supported)] ('01.11', 'Picado de revoques', 'm2', 0.0, 10748.07, 10748.07, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,129 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,131 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/12 (ordered; batch not supported)] ('01.12', 'Retiro de pisos/revestimientos', 'm2', 0.0, 11527.59, 11527.59, 1, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,137 INFO sqlalchemy.engine.Engine SELECT rubro.id, rubro.nombre, rubro.codigo
FROM rubro
WHERE rubro.codigo = ?
2025-05-12 23:47:36,138 INFO sqlalchemy.engine.Engine [cached since 125.1s ago] ('02',)
2025-05-12 23:47:36,142 INFO sqlalchemy.engine.Engine INSERT INTO rubro (nombre, codigo) VALUES (?, ?)
2025-05-12 23:47:36,143 INFO sqlalchemy.engine.Engine [cached since 0.1176s ago] ('MOVIMIENTO DE TIERRA', '02')
2025-05-12 23:47:36,146 INFO sqlalchemy.engine.Engine COMMIT
2025-05-12 23:47:36,160 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 23:47:36,164 INFO sqlalchemy.engine.Engine SELECT rubro.id, rubro.nombre, rubro.codigo
FROM rubro
WHERE rubro.id = ?
2025-05-12 23:47:36,166 INFO sqlalchemy.engine.Engine [cached since 0.1067s ago] (2,)
2025-05-12 23:47:36,173 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,175 INFO sqlalchemy.engine.Engine [cached since 0.09703s ago (insertmanyvalues) 1/5 (ordered; batch not supported)] ('02.01', 'Desmonte; Terraplenamientos y rellenos a máquina', 'm3', 0.0, 28622.33, 28622.33, 2, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,180 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,182 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/5 (ordered; batch not supported)] ('02.02', 'Desmonte; Terraplenamientos y rellenos manual', 'm3', 0.0, 24771.95, 24771.95, 2, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,185 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,185 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/5 (ordered; batch not supported)] ('02.03', 'Excavación a máquina para subsuelo', 'm3', 0.0, 35351.47, 35351.47, 2, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,187 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,190 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/5 (ordered; batch not supported)] ('02.04', 'Excavación manual para bases de columnas', 'm3', 0.0, 37336.6, 37336.6, 2, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,191 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,193 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/5 (ordered; batch not supported)] ('02.05', 'Excavación manual para zapata de muros', 'm3', 0.0, 27768.97, 27768.97, 2, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,197 INFO sqlalchemy.engine.Engine SELECT rubro.id, rubro.nombre, rubro.codigo
FROM rubro
WHERE rubro.codigo = ?
2025-05-12 23:47:36,198 INFO sqlalchemy.engine.Engine [cached since 125.2s ago] ('03',)
2025-05-12 23:47:36,201 INFO sqlalchemy.engine.Engine INSERT INTO rubro (nombre, codigo) VALUES (?, ?)
2025-05-12 23:47:36,202 INFO sqlalchemy.engine.Engine [cached since 0.1772s ago] ('ESTRUCTURAS', '03')
2025-05-12 23:47:36,204 INFO sqlalchemy.engine.Engine COMMIT
2025-05-12 23:47:36,217 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 23:47:36,220 INFO sqlalchemy.engine.Engine SELECT rubro.id, rubro.nombre, rubro.codigo
FROM rubro
WHERE rubro.id = ?
2025-05-12 23:47:36,223 INFO sqlalchemy.engine.Engine [cached since 0.1645s ago] (3,)
2025-05-12 23:47:36,237 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,304 INFO sqlalchemy.engine.Engine [cached since 0.1616s ago (insertmanyvalues) 1/15 (ordered; batch not supported)] ('03.00', 'Bases H°A° -H21/50kg', 'm3', 276142.09, 155367.76, 431509.86, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,309 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,325 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/15 (ordered; batch not supported)] ('03.01', 'Columnas H°A° - H21/90kg', 'm3', 397029.26, 314512.08, 711541.34, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,328 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,330 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/15 (ordered; batch not supported)] ('03.02', 'Encadenado H°A° - H21/65kg', 'm3', 319262.15, 312549.29, 631811.45, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,333 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,334 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/15 (ordered; batch not supported)] ('03.03', 'Escalera H°A° - H21/65kg', 'm3', 347333.67, 337249.64, 684583.31, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,335 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,338 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/15 (ordered; batch not supported)] ('03.04', 'Losa HºAº con viguetas y ladrillón cerámico 12cm', 'm2', 37993.37, 48791.76, 86785.13, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,340 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,342 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/15 (ordered; batch not supported)] ('03.05', 'Losa HºAº con viguetas y ladrillón poliestireno exp.12cm', 'm2', 47104.6, 46419.86, 93524.46, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,346 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,347 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/15 (ordered; batch not supported)] ('03.06', 'Losa HºAº macizas H21/60kg', 'm3', 336933.81, 309623.43, 646557.25, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,349 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,350 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/15 (ordered; batch not supported)] ('03.07', 'Tabiques H°A° - H21/70kg', 'm3', 337965.58, 450270.78, 788236.36, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,352 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,353 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/15 (ordered; batch not supported)] ('03.08', 'Tanques H°A° - H21/120kg', 'm3', 360911.35, 492487.03, 853398.38, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,357 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,359 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/15 (ordered; batch not supported)] ('03.09', 'Vigas H°A° - H21/120kg', 'm3', 483798.95, 424922.38, 908721.33, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,362 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,364 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/15 (ordered; batch not supported)] ('03.10', 'Zapata corrida muros Hº cascotes', 'm3', 167199.66, 44718.2, 211917.86, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,373 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,377 INFO sqlalchemy.engine.Engine [insertmanyvalues 12/15 (ordered; batch not supported)] ('03.11', 'Zapata corrida muros HºAº', 'm3', 239865.85, 93654.18, 333520.03, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,379 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,381 INFO sqlalchemy.engine.Engine [insertmanyvalues 13/15 (ordered; batch not supported)] ('03.12', 'Hierros redondos', 'kg', 2757.89, 4412.73, 7170.62, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,382 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,383 INFO sqlalchemy.engine.Engine [insertmanyvalues 14/15 (ordered; batch not supported)] ('03.13', 'Perfiles ángulo', 'kg', 7997.88, 6486.71, 14484.59, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,385 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,387 INFO sqlalchemy.engine.Engine [insertmanyvalues 15/15 (ordered; batch not supported)] ('03.14', 'Perfiles normales', 'kg', 6894.72, 5560.04, 12454.76, 3, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,389 INFO sqlalchemy.engine.Engine SELECT rubro.id, rubro.nombre, rubro.codigo
FROM rubro
WHERE rubro.codigo = ?
2025-05-12 23:47:36,391 INFO sqlalchemy.engine.Engine [cached since 125.4s ago] ('04',)
2025-05-12 23:47:36,395 INFO sqlalchemy.engine.Engine INSERT INTO rubro (nombre, codigo) VALUES (?, ?)
2025-05-12 23:47:36,397 INFO sqlalchemy.engine.Engine [cached since 0.3713s ago] ('MAMPOSTERÍAS Y TABIQUERÍAS', '04')
2025-05-12 23:47:36,401 INFO sqlalchemy.engine.Engine COMMIT
2025-05-12 23:47:36,413 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 23:47:36,415 INFO sqlalchemy.engine.Engine SELECT rubro.id, rubro.nombre, rubro.codigo
FROM rubro
WHERE rubro.id = ?
2025-05-12 23:47:36,417 INFO sqlalchemy.engine.Engine [cached since 0.3576s ago] (4,)
2025-05-12 23:47:36,428 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,430 INFO sqlalchemy.engine.Engine [cached since 0.3527s ago (insertmanyvalues) 1/18 (ordered; batch not supported)] ('04.01', 'Bloques hcca 10x25x50cm', 'm2', 22163.45, 16366.68, 38530.14, 4, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,434 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,437 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/18 (ordered; batch not supported)] ('04.02', 'Bloques hcca 15x25x50cm', 'm2', 34264.09, 19200.76, 53464.86, 4, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,440 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,441 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/18 (ordered; batch not supported)] ('04.03', 'Bloques hcca 20x25x50cm', 'm2', 45848.57, 22034.84, 67883.41, 4, 'Revista Cifras - Mayo 2025', '2025-05-01')
2025-05-12 23:47:36,444 INFO sqlalchemy.engine.Engine INSERT INTO material (codigo, descripcion, unidad, costo_material, costo_ejecucion, costo_total, rubro_id, fuente, fecha) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?) RETURNING id
2025-05-12 23:47:36,445 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/18 (ordered; batch not supported)] ('04.04', 'Bloques hormigón 10x20x40cm', 'm2', 19751.13, 21265.42, 41016.54, 4, 'Revista Cifras - Mayo 2025', '2025-05-01')

In [11]:
from backend.db import engine
from backend.models.material import Material
from backend.models.rubro import Rubro
from sqlmodel import SQLModel

SQLModel.metadata.create_all(engine)
print("✅ Tablas creadas correctamente.")

2025-05-12 23:47:30,773 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-05-12 23:47:30,775 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("material")
2025-05-12 23:47:30,776 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 23:47:30,779 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("material")
2025-05-12 23:47:30,779 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 23:47:30,782 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("rubro")
2025-05-12 23:47:30,782 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 23:47:30,785 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("rubro")
2025-05-12 23:47:30,785 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-05-12 23:47:30,787 INFO sqlalchemy.engine.Engine
CREATE TABLE rubro (
	id INTEGER NOT NULL,
	nombre VARCHAR NOT NULL,
	codigo VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2025-05-12 23:47:30,788 INFO sqlalchemy.engine.Engine [no key 0.00084s] ()
2025-05-12 23:47:30,816 INFO sqlalchemy.engine.Engine
CREATE TABLE material (
	id INTEGER NOT NULL,
	codigo VARCHAR NOT NULL,
	descripcion VARCHAR NOT NULL,
	unidad VARCHAR NOT NULL,
	costo_material FLOAT NOT NULL,
	costo_ejecucion FLOAT NOT NULL,
	costo_total FLOAT NOT NULL,
	rubro_id INTEGER NOT NULL,
	fuente VARCHAR,
	fecha DATE,
	PRIMARY KEY (id),
	FOREIGN KEY(rubro_id) REFERENCES rubro (id)
)


2025-05-12 23:47:30,817 INFO sqlalchemy.engine.Engine [no key 0.00102s] ()
2025-05-12 23:47:30,847 INFO sqlalchemy.engine.Engine COMMIT
✅ Tablas creadas correctamente.